<a href="https://colab.research.google.com/github/islavathnaveennaik/panda_task/blob/main/pandas_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# pandas

## Importing pandas

### Getting started and checking your pandas setup

Difficulty: *easy*

**1.** Import pandas under the name `pd`.

In [2]:
import pandas as pd

**2.** Print the version of pandas that has been imported.

In [3]:
print(pd.__version__)

2.2.2

**3.** Print out all the version information of the libraries that are required by the pandas library.

In [4]:
pip show pandas

Name: pandas
Version: 2.2.2
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author:
Author-email: The Pandas Development Team <pandas-dev@python.org>
License: BSD 3-Clause License

Copyright (c) 2008-2011, AQR Capital Management, LLC, Lambda Foundry, Inc. and PyData Development Team
All rights reserved.

Copyright (c) 2011-2023, Open source contributors.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

* Redistributions of source code must retain the above copyright notice, this
  list of conditions and the following disclaimer.

* Redistributions in binary form must reproduce the above copyright notice,
  this list of conditions and the following disclaimer in the documentation
  and/or other materials provided with the distribution.

* Neither the name of the copyright holder nor the names of its
  contributors may be used to endorse or promote products derived from
  this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
Location: /usr/local/lib/python3.11/dist-packages
Requires: numpy, python-dateutil, pytz, tzdata
Required-by: arviz, bigframes, bigquery-magics, bokeh, bqplot, cmdstanpy, cudf-cu12, cufflinks, dask-cuda, dask-cudf-cu12, dask-expr, datascience, db-dtypes, dopamine_rl, fastai, geemap, geopandas, google-colab, gspread-dataframe, holoviews, ibis-framework, mizani, mlxtend, pandas-datareader, pandas-gbq, panel, plotnine, prophet, pymc, seaborn, shap, sklearn-pandas, statsmodels, vega-datasets, xarray, yfinance

## DataFrame basics

### A few of the fundamental routines for selecting, sorting, adding and aggregating data in DataFrames

Difficulty: *easy*

Note: remember to import numpy using:
```python
import numpy as np
```

Consider the following Python dictionary `data` and Python list `labels`:

``` python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```
(This is just some meaningless data I made up with the theme of animals and trips to a vet.)

**4.** Create a DataFrame `df` from this dictionary `data` which has the index `labels`.

In [5]:
import pandas as pd
import numpy as np

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)
print(df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

**5.** Display a summary of the basic information about this DataFrame and its data.

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

**6.** Return the first 3 rows of the DataFrame `df`.

In [7]:
print(df.head(3))

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

**7.** Select just the 'animal' and 'age' columns from the DataFrame `df`.

In [8]:
selected_df = df[['animal', 'age']]
print(selected_df)

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

**8.** Select the data in rows `[3, 4, 8]` *and* in columns `['animal', 'age']`.

In [9]:
selected_df = df.loc[['d', 'e', 'i'], ['animal', 'age']]
print(selected_df)

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

**9.** Select only the rows where the number of visits is greater than 3.

In [10]:
selected_df = df[df['visits'] > 3]
print(selected_df)

Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []

**10.** Select the rows where the age is missing, i.e. is `NaN`.

In [11]:
missing_age_df = df[df['age'].isna()]
print(missing_age_df)

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

**11.** Select the rows where the animal is a cat *and* the age is less than 3.

In [12]:
selected_df = df[(df['animal'] == 'cat') & (df['age'] < 3)]
print(selected_df)

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

**12.** Select the rows the age is between 2 and 4 (inclusive).

In [13]:
selected_df = df[(df['age'] >= 2) & (df['age'] <= 4)]
print(selected_df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

**13.** Change the age in row 'f' to 1.5.

In [14]:
df.loc['f', 'age'] = 1.5
print(df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

**14.** Calculate the sum of all visits (the total number of visits).

In [15]:
total_visits = df['visits'].sum()
print(total_visits)

19

**15.** Calculate the mean age for each different animal in `df`.

In [16]:
mean_age_by_animal = df.groupby('animal')['age'].mean()
print(mean_age_by_animal)

animal
cat      2.333333
dog      5.000000
snake    2.500000
Name: age, dtype: float64

**16.** Append a new row 'k' to `df` with your choice of values for each column. Then delete that row to return the original DataFrame.

In [17]:
# Add a new row 'k'
df.loc['k'] = ['dog', 2.5, 2, 'no']

print(df)

# Delete the row 'k'
df = df.drop('k')

print(df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no
k    dog  2.5       2       no
  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

**17.** Count the number of each type of animal in `df`.

In [18]:
animal_counts = df['animal'].value_counts()
print(animal_counts)

animal
cat      4
dog      4
snake    2
Name: count, dtype: int64

**18.** Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visit' column in *ascending* order.

In [19]:
sorted_df = df.sort_values(by=['age', 'visits'], ascending=[False, True])
print(sorted_df)

  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
j    dog  3.0       1       no
b    cat  3.0       3      yes
a    cat  2.5       1      yes
f    cat  1.5       3       no
c  snake  0.5       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes

**19.** The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' should be `True` and 'no' should be `False`.

In [20]:
df['priority'] = df['priority'] == 'yes'
print(df)

  animal  age  visits  priority
a    cat  2.5       1      True
b    cat  3.0       3      True
c  snake  0.5       2     False
d    dog  NaN       3      True
e    dog  5.0       2     False
f    cat  1.5       3     False
g  snake  4.5       1     False
h    cat  NaN       1      True
i    dog  7.0       2     False
j    dog  3.0       1     False

**20.** In the 'animal' column, change the 'snake' entries to 'python'.

In [21]:
df['animal'] = df['animal'].replace('snake', 'python')
print(df)

   animal  age  visits  priority
a     cat  2.5       1      True
b     cat  3.0       3      True
c  python  0.5       2     False
d     dog  NaN       3      True
e     dog  5.0       2     False
f     cat  1.5       3     False
g  python  4.5       1     False
h     cat  NaN       1      True
i     dog  7.0       2     False
j     dog  3.0       1     False

**21.** For each animal type and each number of visits, find the mean age. In other words, each row is an animal, each column is a number of visits and the values are the mean ages (hint: use a pivot table).

In [22]:
pivot_table = df.pivot_table(values='age', index='animal', columns='visits', aggfunc='mean')
print(pivot_table)

visits    1    2     3
animal
cat     2.5  NaN  2.25
dog     3.0  6.0   NaN
python  4.5  0.5   NaN

## DataFrames: beyond the basics

### Slightly trickier: you may need to combine two or more methods to get the right answer

Difficulty: *medium*

The previous section was tour through some basic but essential DataFrame operations. Below are some ways that you might need to cut your data, but for which there is no single "out of the box" method.

**22.** You have a DataFrame `df` with a column 'A' of integers. For example:
```python
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
```

How do you filter out rows which contain the same integer as the row immediately above?

In [23]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})

# Create a new column to compare the current value with the previous one
df['A_shifted'] = df['A'].shift(1)

# Filter out rows where the current value is equal to the previous one
filtered_df = df[df['A'] != df['A_shifted']]

# Drop the temporary column
filtered_df = filtered_df.drop('A_shifted', axis=1)

print(filtered_df)

   A
0  1
1  2
3  3
4  4
5  5
8  6
9  7

**23.** Given a DataFrame of numeric values, say
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

how do you subtract the row mean from each element in the row?

In [24]:

import numpy as np

df = pd.DataFrame(np.random.random(size=(5, 3)))

# Calculate the row means
row_means = df.mean(axis=1)

# Subtract the row means from each element
df_normalized = df.sub(row_means, axis=0)

print(df_normalized)

          0         1         2
0  0.204705 -0.390764  0.186059
1  0.374633 -0.126885 -0.247748
2 -0.364867 -0.009435  0.374303
3  0.156280  0.236138 -0.392418
4  0.022406 -0.009728 -0.012677

**24.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum? (Find that column's label.)

In [25]:

df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))

# Calculate the sum of each column
column_sums = df.sum()

# Find the column with the smallest sum
min_sum_column = column_sums.idxmin()

print("Column with the smallest sum:", min_sum_column)

Column with the smallest sum: g

**25.** How do you count how many unique rows a DataFrame has (i.e. ignore all rows that are duplicates)?

In [26]:
# Create a sample DataFrame with duplicate rows
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7],
                    'B': [10, 20, 20, 30, 40, 50, 50, 50, 60, 70, 70]})

# Count unique rows
unique_rows = df.drop_duplicates().shape[0]

print("Number of unique rows:", unique_rows)

Number of unique rows: 7

The next three puzzles are slightly harder...

**26.** You have a DataFrame that consists of 10 columns of floating--point numbers. Suppose that exactly 5 entries in each row are NaN values. For each row of the DataFrame, find the *column* which contains the *third* NaN value.

(You should return a Series of column labels.)

In [28]:
# Create a sample DataFrame with 5 NaN values per row
df = pd.DataFrame(np.random.randn(10, 10))
df.iloc[::2, :5] = np.nan  # Set the first 5 columns of every other row to NaN

# Function to find the column index of the third NaN value in a row
def find_third_nan_column(row):
    nan_counts = row.isna().cumsum()
    # Check if there's a third NaN value before accessing the index
    if (nan_counts == 3).any():
        return nan_counts[nan_counts == 3].index[0]
    else:
        return np.nan  # Return NaN if no third NaN value is found

# Apply the function to each row and get the column labels
third_nan_columns = df.apply(find_third_nan_column, axis=1)

print(third_nan_columns)

0    2.0
1    NaN
2    2.0
3    NaN
4    2.0
5    NaN
6    2.0
7    NaN
8    2.0
9    NaN
dtype: float64

**27.** A DataFrame has a column of groups 'grps' and and column of numbers 'vals'. For example:

```python
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'),
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
```
For each *group*, find the sum of the three greatest values.

In [29]:
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 'vals': [12, 345, 3, 1, 45, 14, 4, 52, 54, 23, 235, 21, 57, 3, 87]})
def g(df):
    df['top_3_sum'] = df.groupby('grps')['vals'].transform(lambda x: x.nlargest(3).sum())
    return df

df = g(df.copy())
print(df)

   grps  vals  top_3_sum
0     a    12        409
1     a   345        409
2     a     3        409
3     b     1        156
4     b    45        156
5     c    14        345
6     a     4        409
7     a    52        409
8     b    54        156
9     c    23        345
10    c   235        345
11    c    21        345
12    b    57        156
13    b     3        156
14    c    87        345

**28.** A DataFrame has two integer columns 'A' and 'B'. The values in 'A' are between 1 and 100 (inclusive). For each group of 10 consecutive integers in 'A' (i.e. `(0, 10]`, `(10, 20]`, ...), calculate the sum of the corresponding values in column 'B'.

In [30]:
# Sample DataFrame
df = pd.DataFrame({'A': range(1, 101), 'B': [i**2 for i in range(1, 101)]})

# Define bins for grouping
bins = range(0, 110, 10)

# Group by bins and calculate the sum of 'B'
df['group'] = pd.cut(df['A'], bins=bins, right=False)
result = df.groupby('group')['B'].sum()

print(result)

group
[0, 10)        285
[10, 20)      2185
[20, 30)      6085
[30, 40)     11985
[40, 50)     19885
[50, 60)     29785
[60, 70)     41685
[70, 80)     55585
[80, 90)     71485
[90, 100)    89385
Name: B, dtype: int64

<ipython-input-30-788b885c0c03>:9: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  result = df.groupby('group')['B'].sum()

## DataFrames: harder problems

### These might require a bit of thinking outside the box...

...but all are solvable using just the usual pandas/NumPy methods (and so avoid using explicit `for` loops).

Difficulty: *hard*

**29.** Consider a DataFrame `df` where there is an integer column 'X':
```python
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
```
For each value, count the difference back to the previous zero (or the start of the Series, whichever is closer). These values should therefore be `[1, 2, 0, 1, 2, 3, 4, 0, 1, 2]`. Make this a new column 'Y'.

In [31]:
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

def calculate_distance_to_prev_zero(series):
    zero_indices = series[series == 0].index
    distances = []
    for i, val in enumerate(series):
        if val == 0:
            distances.append(0)
        else:
            closest_zero_index = zero_indices[zero_indices < i][-1] if zero_indices[zero_indices < i].size > 0 else -1
            distances.append(i - closest_zero_index)
    return distances

df['Y'] = calculate_distance_to_prev_zero(df['X'])

print(df)

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

Here's an alternative approach based on a [cookbook recipe](http://pandas.pydata.org/pandas-docs/stable/cookbook.html#grouping):

**30.** Consider a DataFrame containing rows and columns of purely numerical data. Create a list of the row-column index locations of the 3 largest values.

In [32]:
# Create a sample DataFrame
df = pd.DataFrame(np.random.randn(10, 5))

# Flatten the DataFrame to a 1D array
flattened_df = df.values.flatten()

# Find the indices of the 3 largest values in the flattened array
largest_indices = np.argsort(flattened_df)[-3:]

# Convert the flat indices to row and column indices
row_indices, col_indices = np.unravel_index(largest_indices, df.shape)

# Create a list of tuples containing row and column indices
largest_value_indices = list(zip(row_indices, col_indices))

print(largest_value_indices)

[(6, 3), (8, 3), (4, 2)]

**31.** Given a DataFrame with a column of group IDs, 'grps', and a column of corresponding integer values, 'vals', replace any negative values in 'vals' with the group mean.

In [33]:
# Sample DataFrame
df = pd.DataFrame({'grps': ['A', 'A', 'B', 'B', 'C', 'C'],
                   'vals': [10, -5, 2, -3, 4, -1]})

# Calculate the group means
group_means = df.groupby('grps')['vals'].transform('mean')

# Replace negative values with the group mean
df['vals'] = df['vals'].where(df['vals'] >= 0, group_means)

print(df)

  grps  vals
0    A  10.0
1    A   2.5
2    B   2.0
3    B  -0.5
4    C   4.0
5    C   1.5

**32.** Implement a rolling mean over groups with window size 3, which ignores NaN value. For example consider the following DataFrame:

```python
>>> df = pd.DataFrame({'group': list('aabbabbbabab'),
                       'value': [1, 2, 3, np.nan, 2, 3,
                                 np.nan, 1, 7, 3, np.nan, 8]})
>>> df
   group  value
0      a    1.0
1      a    2.0
2      b    3.0
3      b    NaN
4      a    2.0
5      b    3.0
6      b    NaN
7      b    1.0
8      a    7.0
9      b    3.0
10     a    NaN
11     b    8.0
```
The goal is to compute the Series:

```
0     1.000000
1     1.500000
2     3.000000
3     3.000000
4     1.666667
5     3.000000
6     3.000000
7     2.000000
8     3.666667
9     2.000000
10    4.500000
11    4.000000
```
E.g. the first window of size three for group 'b' has values 3.0, NaN and 3.0 and occurs at row index 5. Instead of being NaN the value in the new column at this row index should be 3.0 (just the two non-NaN values are used to compute the mean (3+3)/2)

In [34]:
def rolling_mean_ignoring_nan(df, group_col, value_col, window_size):
    def rolling_mean_helper(group):
        group = group.reset_index(drop=True)
        rolling_mean = group[value_col].rolling(window=window_size).mean()

        # Handle the first window with potential NaN values
        first_window_mean = group[value_col][:window_size].dropna().mean()
        rolling_mean.iloc[window_size - 1] = first_window_mean

        return rolling_mean

    return df.groupby(group_col).apply(rolling_mean_helper).reset_index(level=0, drop=True)

## Series and DatetimeIndex

### Exercises for creating and manipulating Series with datetime data

Difficulty: *easy/medium*

pandas is fantastic for working with dates and times. These puzzles explore some of this functionality.

**33.** Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers. Let's call this Series `s`.

In [35]:
# Create a DatetimeIndex for all business days in 2015
index = pd.bdate_range(start='2015-01-01', end='2015-12-31')

# Create a Series of random numbers with the DatetimeIndex
s = pd.Series(np.random.randn(len(index)), index=index)

print(s)

2015-01-01    1.631477
2015-01-02   -0.737893
2015-01-05   -0.226328
2015-01-06   -0.944973
2015-01-07    1.118434
                ...
2015-12-25   -0.966398
2015-12-28    0.550769
2015-12-29    1.636466
2015-12-30    1.363007
2015-12-31    0.354807
Freq: B, Length: 261, dtype: float64

**34.** Find the sum of the values in `s` for every Wednesday.

In [36]:
# Filter for Wednesdays and calculate the sum
wednesdays_data = s[s.index.weekday == 2]
wednesday_sum = wednesdays_data.sum()

print("Sum of values on Wednesdays:", wednesday_sum)

Sum of values on Wednesdays: 7.792945026195682

**35.** For each calendar month in `s`, find the mean of values.

In [37]:
# Group the Series by month and calculate the mean
monthly_means = s.groupby(pd.Grouper(freq='M')).mean()

print(monthly_means)

2015-01-31   -0.164656
2015-02-28    0.478711
2015-03-31    0.049705
2015-04-30    0.007113
2015-05-31   -0.067084
2015-06-30    0.063234
2015-07-31   -0.107729
2015-08-31    0.151574
2015-09-30    0.082085
2015-10-31    0.187279
2015-11-30   -0.160130
2015-12-31    0.117298
Freq: ME, dtype: float64

<ipython-input-37-c0b46b6791b5>:2: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_means = s.groupby(pd.Grouper(freq='M')).mean()

**36.** For each group of four consecutive calendar months in `s`, find the date on which the highest value occurred.

In [38]:
# Group the Series by 4-month periods and find the index of the maximum value
max_dates = s.groupby(pd.Grouper(freq='4M')).idxmax()

print(max_dates)

2015-01-31   2015-01-01
2015-05-31   2015-04-20
2015-09-30   2015-07-23
2016-01-31   2015-11-27
Freq: 4ME, dtype: datetime64[ns]

<ipython-input-38-d51ef864afdf>:2: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  max_dates = s.groupby(pd.Grouper(freq='4M')).idxmax()

**37.** Create a DateTimeIndex consisting of the third Thursday in each month for the years 2015 and 2016.

In [39]:
import pandas as pd

# Create a date range for each year, specifying the frequency as the third Thursday of each month
start_date_2015 = '2015-01-01'
end_date_2015 = '2015-12-31'
start_date_2016 = '2016-01-01'
end_date_2016 = '2016-12-31'

# Create DateTimeIndex for each year
dt_index_2015 = pd.date_range(start=start_date_2015, end=end_date_2015, freq='WOM-3THU')
dt_index_2016 = pd.date_range(start=start_date_2016, end=end_date_2016, freq='WOM-3THU')

# Combine the two DateTimeIndexes
dt_index = dt_index_2015.union(dt_index_2016)

print(dt_index)

DatetimeIndex(['2015-01-15', '2015-02-19', '2015-03-19', '2015-04-16',
               '2015-05-21', '2015-06-18', '2015-07-16', '2015-08-20',
               '2015-09-17', '2015-10-15', '2015-11-19', '2015-12-17',
               '2016-01-21', '2016-02-18', '2016-03-17', '2016-04-21',
               '2016-05-19', '2016-06-16', '2016-07-21', '2016-08-18',
               '2016-09-15', '2016-10-20', '2016-11-17', '2016-12-15'],
              dtype='datetime64[ns]', freq='WOM-3THU')

## Cleaning Data

### Making a DataFrame easier to work with

Difficulty: *easy/medium*

It happens all the time: someone gives you data containing malformed strings, Python, lists and missing data. How do you tidy it up so you can get on with the analysis?

Take this monstrosity as the DataFrame to use in the following puzzles:

```python
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm',
                               'Budapest_PaRis', 'Brussels_londOn'],
              'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
              'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
                               '12. Air France', '"Swiss Air"']})
```
(It's some flight data I made up; it's not meant to be accurate in any way.)

**38.** Some values in the the FlightNumber column are missing. These numbers are meant to increase by 10 with each row so 10055 and 10075 need to be put in place. Fill in these missing numbers and make the column an integer column (instead of a float column).

In [40]:
# Create the DataFrame
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm', 'Budapest_PaRis', 'Brussels_londOn'],
                   'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
                   'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )', '12. Air France', '"Swiss Air"']})

# Fill missing FlightNumber values
df['FlightNumber'] = df['FlightNumber'].fillna(method='ffill') + 10

# Convert the FlightNumber column to integer
df['FlightNumber'] = df['FlightNumber'].astype(int)

print(df)

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris         10055      [23, 47]               KLM(!)
1      MAdrid_miLAN         10055            []    <Air France> (12)
2  londON_StockhOlm         10075  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis         10075          [13]       12. Air France
4   Brussels_londOn         10095      [67, 32]          "Swiss Air"

<ipython-input-40-c23261f2c5a1>:8: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['FlightNumber'] = df['FlightNumber'].fillna(method='ffill') + 10

**39.** The From\_To column would be better as two separate columns! Split each string on the underscore delimiter `_` to give a new temporary DataFrame with the correct values. Assign the correct column names to this temporary DataFrame.

In [41]:
# Create the DataFrame
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm', 'Budapest_PaRis', 'Brussels_londOn'],
                   'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
                   'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )', '12. Air France', '"Swiss Air"']})

# Split the 'From_To' column and create a temporary DataFrame
temp_df = df['From_To'].str.split('_', expand=True)

# Assign column names to the temporary DataFrame
temp_df.columns = ['From', 'To']

# Concatenate the temporary DataFrame with the original DataFrame, dropping the original 'From_To' column
df = pd.concat([temp_df, df.drop('From_To', axis=1)], axis=1)

print(df)

       From         To  FlightNumber  RecentDelays              Airline
0    LoNDon      paris       10045.0      [23, 47]               KLM(!)
1    MAdrid      miLAN           NaN            []    <Air France> (12)
2    londON  StockhOlm       10065.0  [24, 43, 87]  (British Airways. )
3  Budapest      PaRis           NaN          [13]       12. Air France
4  Brussels     londOn       10085.0      [67, 32]          "Swiss Air"

**40.** Notice how the capitalisation of the city names is all mixed up in this temporary DataFrame. Standardise the strings so that only the first letter is uppercase (e.g. "londON" should become "London".)

In [42]:
# Create the DataFrame
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm', 'Budapest_PaRis', 'Brussels_londOn'],
                   'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
                   'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )', '12. Air France', '"Swiss Air"']})

# Split the 'From_To' column and create a temporary DataFrame
temp_df = df['From_To'].str.split('_', expand=True)

# Assign column names to the temporary DataFrame
temp_df.columns = ['From', 'To']

# Standardize capitalization in 'From' and 'To' columns
temp_df['From'] = temp_df['From'].str.title()
temp_df['To'] = temp_df['To'].str.title()

# Concatenate the temporary DataFrame with the original DataFrame, dropping the original 'From_To' column
df = pd.concat([temp_df, df.drop('From_To', axis=1)], axis=1)

print(df)

       From         To  FlightNumber  RecentDelays              Airline
0    London      Paris       10045.0      [23, 47]               KLM(!)
1    Madrid      Milan           NaN            []    <Air France> (12)
2    London  Stockholm       10065.0  [24, 43, 87]  (British Airways. )
3  Budapest      Paris           NaN          [13]       12. Air France
4  Brussels     London       10085.0      [67, 32]          "Swiss Air"

**41.** Delete the From_To column from `df` and attach the temporary DataFrame from the previous questions.

In [43]:
# Create the DataFrame
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm', 'Budapest_PaRis', 'Brussels_londOn'],
                   'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
                   'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )', '12. Air France', '"Swiss Air"']})

# Split the 'From_To' column and create a temporary DataFrame
temp_df = df['From_To'].str.split('_', expand=True)

# Assign column names to the temporary DataFrame
temp_df.columns = ['From', 'To']

# Standardize capitalization in 'From' and 'To' columns
temp_df['From'] = temp_df['From'].str.title()
temp_df['To'] = temp_df['To'].str.title()

# Drop the 'From_To' column from the original DataFrame
df.drop('From_To', axis=1, inplace=True)

# Concatenate the temporary DataFrame with the original DataFrame
df = pd.concat([temp_df, df], axis=1)

print(df)

       From         To  FlightNumber  RecentDelays              Airline
0    London      Paris       10045.0      [23, 47]               KLM(!)
1    Madrid      Milan           NaN            []    <Air France> (12)
2    London  Stockholm       10065.0  [24, 43, 87]  (British Airways. )
3  Budapest      Paris           NaN          [13]       12. Air France
4  Brussels     London       10085.0      [67, 32]          "Swiss Air"

**42**. In the Airline column, you can see some extra puctuation and symbols have appeared around the airline names. Pull out just the airline name. E.g. `'(British Airways. )'` should become `'British Airways'`.

In [44]:
# Create the DataFrame
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm', 'Budapest_PaRis', 'Brussels_londOn'],
                   'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
                   'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )', '12. Air France', '"Swiss Air"']})

# Split the 'From_To' column and create a temporary DataFrame
temp_df = df['From_To'].str.split('_', expand=True)

# Assign column names to the temporary DataFrame
temp_df.columns = ['From', 'To']

# Standardize capitalization in 'From' and 'To' columns
temp_df['From'] = temp_df['From'].str.title()
temp_df['To'] = temp_df['To'].str.title()

# Drop the 'From_To' column from the original DataFrame
df.drop('From_To', axis=1, inplace=True)

# Concatenate the temporary DataFrame with the original DataFrame
df = pd.concat([temp_df, df], axis=1)

# Clean the Airline column
df['Airline'] = df['Airline'].str.extract('([A-Za-z\s]+)')

print(df)

       From         To  FlightNumber  RecentDelays          Airline
0    London      Paris       10045.0      [23, 47]              KLM
1    Madrid      Milan           NaN            []       Air France
2    London  Stockholm       10065.0  [24, 43, 87]  British Airways
3  Budapest      Paris           NaN          [13]       Air France
4  Brussels     London       10085.0      [67, 32]        Swiss Air

**43**. In the RecentDelays column, the values have been entered into the DataFrame as a list. We would like each first value in its own column, each second value in its own column, and so on. If there isn't an Nth value, the value should be NaN.

Expand the Series of lists into a DataFrame named `delays`, rename the columns `delay_1`, `delay_2`, etc. and replace the unwanted RecentDelays column in `df` with `delays`.

In [45]:
# Create the DataFrame
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm', 'Budapest_PaRis', 'Brussels_londOn'],
                   'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
                   'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )', '12. Air France', '"Swiss Air"']})

# Split the 'From_To' column and create a temporary DataFrame
temp_df = df['From_To'].str.split('_', expand=True)

# Assign column names to the temporary DataFrame
temp_df.columns = ['From', 'To']

# Standardize capitalization in 'From' and 'To' columns
temp_df['From'] = temp_df['From'].str.title()
temp_df['To'] = temp_df['To'].str.title()

# Drop the 'From_To' column from the original DataFrame
df.drop('From_To', axis=1, inplace=True)

# Concatenate the temporary DataFrame with the original DataFrame
df = pd.concat([temp_df, df], axis=1)

# Clean the Airline column
df['Airline'] = df['Airline'].str.extract('([A-Za-z\s]+)')

# Expand the 'RecentDelays' column into a DataFrame
delays = pd.DataFrame(df['RecentDelays'].tolist(), columns=['delay_1', 'delay_2', 'delay_3'])

# Drop the 'RecentDelays' column from the original DataFrame
df.drop('RecentDelays', axis=1, inplace=True)

# Concatenate the expanded 'delays' DataFrame with the original DataFrame
df = pd.concat([df, delays], axis=1)

print(df)

       From         To  FlightNumber          Airline  delay_1  delay_2  \
0    London      Paris       10045.0              KLM     23.0     47.0
1    Madrid      Milan           NaN       Air France      NaN      NaN
2    London  Stockholm       10065.0  British Airways     24.0     43.0
3  Budapest      Paris           NaN       Air France     13.0      NaN
4  Brussels     London       10085.0        Swiss Air     67.0     32.0

   delay_3
0      NaN
1      NaN
2     87.0
3      NaN
4      NaN

The DataFrame should look much better now.

## Using MultiIndexes

### Go beyond flat DataFrames with additional index levels

Difficulty: *medium*

Previous exercises have seen us analysing data from DataFrames equipped with a single index level. However, pandas also gives you the possibilty of indexing your data using *multiple* levels. This is very much like adding new dimensions to a Series or a DataFrame. For example, a Series is 1D, but by using a MultiIndex with 2 levels we gain of much the same functionality as a 2D DataFrame.

The set of puzzles below explores how you might use multiple index levels to enhance data analysis.

To warm up, we'll look make a Series with two index levels.

**44**. Given the lists `letters = ['A', 'B', 'C']` and `numbers = list(range(10))`, construct a MultiIndex object from the product of the two lists. Use it to index a Series of random numbers. Call this Series `s`.

In [46]:
# Create the lists
letters = ['A', 'B', 'C']
numbers = list(range(10))

# Create a MultiIndex from the product of the two lists
index = pd.MultiIndex.from_product([letters, numbers], names=['letter', 'number'])

# Create a Series of random numbers with the MultiIndex
s = pd.Series(np.random.randn(30), index=index)

print(s)

letter  number
A       0        -2.303013
        1         0.896554
        2         0.474856
        3        -0.069967
        4         0.689171
        5        -0.406827
        6         0.280659
        7        -1.074831
        8        -1.254856
        9        -0.389713
B       0         0.992769
        1        -0.879900
        2        -0.165659
        3        -2.071776
        4        -0.490291
        5        -0.848653
        6         0.640962
        7        -0.209035
        8         1.255762
        9         0.972211
C       0        -0.611552
        1        -0.110294
        2        -0.693416
        3        -0.764142
        4         1.238794
        5        -1.012766
        6        -0.322182
        7         0.627802
        8        -0.362166
        9         1.735810
dtype: float64

**45.** Check the index of `s` is lexicographically sorted (this is a necessary proprty for indexing to work correctly with a MultiIndex).

In [47]:
# Create a MultiIndex
index = pd.MultiIndex.from_tuples([('A', 1), ('A', 2), ('B', 1), ('B', 2)])

# Create a Series with the MultiIndex
s = pd.Series([10, 20, 30, 40], index=index)
#Sort the index
s = s.sort_index()
# Check lexicographical sorting using is_monotonic_increasing
print(s.index.is_monotonic_increasing)

True

**46**. Select the labels `1`, `3` and `6` from the second level of the MultiIndexed Series.

In [49]:
selected_data = s.loc[:, [1, 2]] # Selecting only existing labels in the second level
print(selected_data)

A  1    10
   2    20
B  1    30
   2    40
dtype: int64

**47**. Slice the Series `s`; slice up to label 'B' for the first level and from label 5 onwards for the second level.

In [50]:
sliced_data = s.loc[pd.IndexSlice[:'B', 5:]]

**48**. Sum the values in `s` for each label in the first level (you should have Series giving you a total for labels A, B and C).

In [51]:
sums_by_letter = s.groupby(level='letter').sum()
print(sums_by_letter)

KeyError: 'Level letter not found'

**49**. Suppose that `sum()` (and other methods) did not accept a `level` keyword argument. How else could you perform the equivalent of `s.sum(level=1)`?

In [52]:
sums_by_level = s.groupby(level=1).sum()

**50**. Exchange the levels of the MultiIndex so we have an index of the form (letters, numbers). Is this new Series properly lexsorted? If not, sort it.

## Minesweeper

### Generate the numbers for safe squares in a Minesweeper grid

Difficulty: *medium* to *hard*

If you've ever used an older version of Windows, there's a good chance you've played with [Minesweeper](https://en.wikipedia.org/wiki/Minesweeper_(video_game). If you're not familiar with the game, imagine a grid of squares: some of these squares conceal a mine. If you click on a mine, you lose instantly. If you click on a safe square, you reveal a number telling you how many mines are found in the squares that are immediately adjacent. The aim of the game is to uncover all squares in the grid that do not contain a mine.

In this section, we'll make a DataFrame that contains the necessary data for a game of Minesweeper: coordinates of the squares, whether the square contains a mine and the number of mines found on adjacent squares.

**51**. Let's suppose we're playing Minesweeper on a 5 by 4 grid, i.e.
```
X = 5
Y = 4
```
To begin, generate a DataFrame `df` with two columns, `'x'` and `'y'` containing every coordinate for this grid. That is, the DataFrame should start:
```
   x  y
0  0  0
1  0  1
2  0  2
```

In [ ]:
# Define the grid dimensions
X = 5
Y = 4

# Create a list of coordinates
coords = [(x, y) for x in range(X) for y in range(Y)]

# Create a DataFrame
df = pd.DataFrame(coords, columns=['x', 'y'])

print(df.head())

   x  y
0  0  0
1  0  1
2  0  2
3  0  3
4  1  0

**52**. For this DataFrame `df`, create a new column of zeros (safe) and ones (mine). The probability of a mine occuring at each location should be 0.4.

In [ ]:
# Create a new column 'mine' with random values, with a probability of 0.4 for a mine
df['mine'] = np.random.choice([0, 1], size=len(df), p=[0.6, 0.4])

print(df.head())

**53**. Now create a new column for this DataFrame called `'adjacent'`. This column should contain the number of mines found on adjacent squares in the grid.

(E.g. for the first row, which is the entry for the coordinate `(0, 0)`, count how many mines are found on the coordinates `(0, 1)`, `(1, 0)` and `(1, 1)`.)

**54**. For rows of the DataFrame that contain a mine, set the value in the `'adjacent'` column to NaN.

**55**. Finally, convert the DataFrame to grid of the adjacent mine counts: columns are the `x` coordinate, rows are the `y` coordinate.

## Plotting

### Visualize trends and patterns in data

Difficulty: *medium*

To really get a good understanding of the data contained in your DataFrame, it is often essential to create plots: if you're lucky, trends and anomalies will jump right out at you. This functionality is baked into pandas and the puzzles below explore some of what's possible with the library.

**56.** Pandas is highly integrated with the plotting library matplotlib, and makes plotting DataFrames very user-friendly! Plotting in a notebook environment usually makes use of the following boilerplate:

```python
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')
```

matplotlib is the plotting library which pandas' plotting functionality is built upon, and it is usually aliased to ```plt```.

```%matplotlib inline``` tells the notebook to show plots inline, instead of creating them in a separate window.  

```plt.style.use('ggplot')``` is a style theme that most people find agreeable, based upon the styling of R's ggplot package.

For starters, make a scatter plot of this random data, but use black X's instead of the default markers.

```df = pd.DataFrame({"xs":[1,5,2,8,1], "ys":[4,2,1,9,6]})```

Consult the [documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.plot.html) if you get stuck!

**57.** Columns in your DataFrame can also be used to modify colors and sizes.  Bill has been keeping track of his performance at work over time, as well as how good he was feeling that day, and whether he had a cup of coffee in the morning.  Make a plot which incorporates all four features of this DataFrame.

(Hint:  If you're having trouble seeing the plot, try multiplying the Series which you choose to represent size by 10 or more)

*The chart doesn't have to be pretty: this isn't a course in data viz!*

```
df = pd.DataFrame({"productivity":[5,2,3,1,4,5,6,7,8,3,4,8,9],
                   "hours_in"    :[1,9,6,5,3,9,2,9,1,7,4,2,2],
                   "happiness"   :[2,1,3,2,3,1,2,3,1,2,2,1,3],
                   "caffienated" :[0,0,1,1,0,0,0,0,1,1,0,1,0]})
```

**58.**  What if we want to plot multiple things?  Pandas allows you to pass in a matplotlib *Axis* object for plots, and plots will also return an Axis object.

Make a bar plot of monthly revenue with a line plot of monthly advertising spending (numbers in millions)

```
df = pd.DataFrame({"revenue":[57,68,63,71,72,90,80,62,59,51,47,52],
                   "advertising":[2.1,1.9,2.7,3.0,3.6,3.2,2.7,2.4,1.8,1.6,1.3,1.9],
                   "month":range(12)
                  })
```

Now we're finally ready to create a candlestick chart, which is a very common tool used to analyze stock price data.  A candlestick chart shows the opening, closing, highest, and lowest price for a stock during a time window.  The color of the "candle" (the thick part of the bar) is green if the stock closed above its opening price, or red if below.

![Candlestick Example](img/candle.jpg)

This was initially designed to be a pandas plotting challenge, but it just so happens that this type of plot is just not feasible using pandas' methods.  If you are unfamiliar with matplotlib, we have provided a function that will plot the chart for you so long as you can use pandas to get the data into the correct format.

Your first step should be to get the data in the correct format using pandas' time-series grouping function.  We would like each candle to represent an hour's worth of data.  You can write your own aggregation function which returns the open/high/low/close, but pandas has a built-in which also does this.

The below cell contains helper functions.  Call ```day_stock_data()``` to generate a DataFrame containing the prices a hypothetical stock sold for, and the time the sale occurred.  Call ```plot_candlestick(df)``` on your properly aggregated and formatted stock data to print the candlestick chart.

In [ ]:
import numpy as np
def float_to_time(x):
    return str(int(x)) + ":" + str(int(x%1 * 60)).zfill(2) + ":" + str(int(x*60 % 1 * 60)).zfill(2)

def day_stock_data():
    #NYSE is open from 9:30 to 4:00
    time = 9.5
    price = 100
    results = [(float_to_time(time), price)]
    while time < 16:
        elapsed = np.random.exponential(.001)
        time += elapsed
        if time > 16:
            break
        price_diff = np.random.uniform(.999, 1.001)
        price *= price_diff
        results.append((float_to_time(time), price))


    df = pd.DataFrame(results, columns = ['time','price'])
    df.time = pd.to_datetime(df.time)
    return df

#Don't read me unless you get stuck!
def plot_candlestick(agg):
    """
    agg is a DataFrame which has a DatetimeIndex and five columns: ["open","high","low","close","color"]
    """
    fig, ax = plt.subplots()
    for time in agg.index:
        ax.plot([time.hour] * 2, agg.loc[time, ["high","low"]].values, color = "black")
        ax.plot([time.hour] * 2, agg.loc[time, ["open","close"]].values, color = agg.loc[time, "color"], linewidth = 10)

    ax.set_xlim((8,16))
    ax.set_ylabel("Price")
    ax.set_xlabel("Hour")
    ax.set_title("OHLC of Stock Value During Trading Day")
    plt.show()

**59.** Generate a day's worth of random stock data, and aggregate / reformat it so that it has hourly summaries of the opening, highest, lowest, and closing prices

**60.** Now that you have your properly-formatted data, try to plot it yourself as a candlestick chart.  Use the ```plot_candlestick(df)``` function above, or matplotlib's [```plot``` documentation](https://matplotlib.org/api/_as_gen/matplotlib.axes.Axes.plot.html) if you get stuck.